.__image-background-sections {
  /* Contenedor para la imagen de cabecera */
  background-color: #000;
  width: 100%;
  /* La altura ser치 autom치tica basada en la imagen */
  height: auto;
  /* Eliminamos el padding que pueda tener por defecto para que la imagen ocupe todo */
  padding: 0;
}

.custom-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 24rem;
  text-align: center;
  z-index: 1;
}

.custom-form::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #7b00ff, #ff00cc);
  border-radius: 22px;
  z-index: -1;
  padding: 2px;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

.custom-form input,
.custom-form select,
.custom-form textarea {
  padding: 0.6rem 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ccc;
  border-radius: 12px;
  color: white;
  outline: none;
  backdrop-filter: blur(4px);
  transition: border 0.3s ease, background 0.3s ease;
}

.custom-form input::placeholder,
.custom-form textarea::placeholder {
  color: #aaa;
}

.custom-form input:focus,
.custom-form select:focus,
.custom-form textarea:focus {
  border: 1px solid #ff00cc;
  background: rgba(255, 255, 255, 0.1);
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-content {
  min-width: 320px;
  max-width: 90vw;
  border-radius: 1.5rem;
  position: relative;
}


.btn-services {
  position: relative;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  /* Fondo transparente */
  border-radius: 20px;
  /* 游대 Este valor modifica el redondeado */
  color: white;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.btn-services::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #7b00ff, #ff00cc);
  border-radius: 22px;
  /* Debe ser igual o mayor al de `.card` */
  z-index: -1;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 2px;
}

.btn-services:hover {
  background: rgb(255, 255, 255);
  /* Fondo m치s opaco */
  color: black;
}

/* Active (al presionar): efecto de "pulso" */
.btn-services:active {
  transform: scale(1.05);
  background: rgb(255, 255, 255);
  /* Fondo m치s opaco */
  color: black;
}

.accordion span {
  font-size: 1.2rem;
}