.__image-background-About {
  background-image: url("/fondos/Sobre_Nosotros.webp");
  background-size: 100% auto;
  background-position: start center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 55dvh;
}
@media (max-width: 768px) {
  .__image-background-About {
    background-size: 100% auto;
    background-attachment: scroll;
    height: 20dvh;
    margin-top: 4.5rem;
  }
}