.__image-background-About {
  background-image: url("/fondos/Sobre_Nosotros.webp");
  background-size: 100% 50vh;
  background-position: start center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 50dvh;
}
@media (max-width: 768px) {
  .__image-background-About {
    background-size: 100% 30vh;
    background-position: start center;
    background-attachment: scroll;
    height: 30dvh;
    padding-top: 4.5rem;
  }
}