
.__image-background-sections {
  background-image: url("/fondos/backgroundSections.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 50dvh;
}

.custom-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 24rem;
  text-align: center;
  z-index: 1;
}

.custom-form::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #7b00ff, #ff00cc);
  border-radius: 22px;
  z-index: -1;
  padding: 2px;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

.custom-form input,
.custom-form select,
.custom-form textarea {
  padding: 0.6rem 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ccc;
  border-radius: 12px;
  color: white;
  outline: none;
  backdrop-filter: blur(4px);
  transition: border 0.3s ease, background 0.3s ease;
}

.custom-form input::placeholder,
.custom-form textarea::placeholder {
  color: #aaa;
}

.custom-form input:focus,
.custom-form select:focus,
.custom-form textarea:focus {
  border: 1px solid #ff00cc;
  background: rgba(255, 255, 255, 0.1);
}

.custom-form button {
  padding: 0.75rem;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #7b00ff, #ff00cc);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-form button:hover {
  background: linear-gradient(90deg, #ff00cc, #7b00ff);
}
