@import "tailwindcss";
@import "../assets/icons/icon-fonts/style.css";

/* Asegura que el scrollbar se vea bien y define el gradiente */
@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #258cf4, #60a5fa);
  }
}

/* Forzar color de fondo globalmente para asegurar que sea oscuro */
body {
  min-height: max(884px, 100dvh);
  background-color: #101922; /* Tu color background-dark */
  color: #ffffff;
}

.__icons-color::before {
  color: #969696;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #101922;
}

::-webkit-scrollbar-thumb {
  background: #3b4754;
  border-radius: 3px;
}