
@import "../assets/icons/icon-fonts/style.css";

* {
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  /* Usa la variable de la fuente principal (Geist Sans) */
  font-family: var(--font-geist-sans);
  background-color: #000;
}

.__icons-color::before {
  color: #ffffff;
}

.header-nav {
  height: 4.5rem;
}

.navbar-nav {
  overflow: hidden;
}

/* Hamburguesa blanca */
.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Sin borde al hacer click */
.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active {
  box-shadow: none;
  outline: none;
  border: none;
}

.navbar-nav.gradient-border {
  background: #00000000;
  border-radius: 0.95rem;
  padding: 2px;
}

.nav-efecto {
  transition: transform 0.2s cubic-bezier(.4, 2, .6, 1), color 0.2s;
}

.nav-efecto:hover,
.nav-efecto:focus {
  transform: scale(1.15);
  color: #DA24BB !important;
}

.nav-efecto.active {
  transform: scale(1.15);
  color: #1171FD !important;
}

@media (max-width: 991px) {

  .nav-efecto:hover,
  .nav-efecto:focus,
  .nav-efecto.active {
    transform: none !important;
  }
}

.gradient-border {
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 0.95rem;
  background: linear-gradient(90deg, #090EDB, #DA24BB);
  color: #fff;
  padding: 2px;
  transition: background 0.3s;
}

.gradient-border>span,
.gradient-border .btn-text {
  display: block;
  background: #00000000;
  color: #fff;
  border-radius: 0.95rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  transition: background 0.3s, color 0.3s;
}

.gradient-border:hover>span,
.gradient-border:hover .btn-text {
  background: #fff;
  color: #181818;
}

.gradient-border:active>span,
.gradient-border:focus>span {
  background: #222;

}

.section {
  margin-top: 4.5rem;
  min-height: calc(100dvh - 4.5rem);
}

.btn-whatsapp {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
}

.gradient-effect-x {
  background: radial-gradient(65.69% 90.55% at 100% 100.04%, rgba(255, 113, 164, 0.5) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(38.25% 50.87% at 0% 100.04%, rgba(9, 166, 255, 0.35) 0%, rgba(0, 255, 194, 0) 100%), #000;
}

.gradient-effect-y {
  background: radial-gradient(65.69% 90.55% at 100% 0%, rgba(255, 113, 164, 0.5) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(38.25% 50.87% at 0% 0%, rgba(9, 166, 255, 0.35) 0%, rgba(0, 255, 194, 0) 100%), #000;
}