@import "../assets/icons/icon-fonts/style.css";

* {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.__icons-color::before {
  color: #ffffff;
}

.header-nav {
  background: rgba(24, 24, 24, 0.603); /* Fondo semitransparente */
  backdrop-filter: blur(40px); /* Aplica el blur */
  -webkit-backdrop-filter: blur(20px); /* Soporte Safari */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.26);
  height: 4.5rem;
}

/* Hamburguesa blanca */
.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Sin borde al hacer click */
.navbar-toggler:focus, .navbar-toggler:hover, .navbar-toggler:active {
  box-shadow: none;
  outline: none;
  border: none;
}

.navbar-nav.gradient-border {
  background: #00000000;
  border-radius: 0.95rem;
  padding: 2px;
}

.nav-efecto {
  transition: transform 0.2s cubic-bezier(.4, 2, .6, 1), color 0.2s;
}

.nav-efecto:hover,
.nav-efecto:focus {
  transform: scale(1.15);
  color: #DA24BB !important;
}

.nav-efecto.active {
  transform: scale(1.15);
  color: #1171FD !important;
}

.gradient-border {
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 0.95rem;
  background: linear-gradient(90deg, #090EDB, #DA24BB);
  color: #fff;
  padding: 2px;
  transition: background 0.3s;
}

.gradient-border>span,
.gradient-border .btn-text {
  display: block;
  background: #00000000;
  color: #fff;
  border-radius: 0.95rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  transition: background 0.3s, color 0.3s;
}

.gradient-border:hover>span,
.gradient-border:hover .btn-text {
  background: #fff;
  color: #181818;
}

.gradient-border:active>span,
.gradient-border:focus>span {
  background: #222;

}

.gradiant-effect {
  min-height: 100vh;
  background: linear-gradient(87deg, #17184e 8.8%, #5a1d50 84.38%);
  background-size: 200% 200%;
  animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .gradiant-effect {
    background: linear-gradient(120deg, #17184e 20%, #5a1d50 80%);
    background-size: 300% 300%;
    min-height: 100vh;
  }
}
.section{
  margin-top: 4.5rem;
  min-height: calc(100dvh - 4.5rem);
}

.btn-whatsapp {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
}