@import "../assets/icons/icon-fonts/style.css";

* {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.__imageBackground {
  background-image: url("/fondos/backgraund.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .__imageBackground {
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
  }
}

.__section-team {
  min-height: 100dvh;
}

.__icons-color::before {
  color: #ffffff;
}