.__image-background-servicios {
  background-image: url("/fondos/Nuestros_Servicios.webp");
  background-size: 100% auto;
  background-position: start center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 55dvh;
}
@media (max-width: 768px) {
  .__image-background-servicios {
    background-size: 100% auto;
    background-attachment: scroll;
    height: 20dvh;
    margin-top: 4.5rem;
  }
}

.card-services {
  background: rgba(24, 24, 24, 0.603);
  /* Fondo semitransparente */
  backdrop-filter: blur(40px);
  /* Aplica el blur */
  -webkit-backdrop-filter: blur(20px);
  /* Soporte Safari */
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.26);
  transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}
.card-services:hover {
  transform: scale(1.05);
}

.btn-services {
  position: relative;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo transparente */
  border-radius: 20px; /* 游대 Este valor modifica el redondeado */
  color: white;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.btn-services::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #7b00ff, #ff00cc);
  border-radius: 22px; /* Debe ser igual o mayor al de `.card` */
  z-index: -1;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 2px;
}

.btn-services:hover {
  background: rgb(255, 255, 255); /* Fondo m치s opaco */
  color: black;
}

/* Active (al presionar): efecto de "pulso" */
.btn-services:active {
  transform: scale(1.05);
  background: rgb(255, 255, 255); /* Fondo m치s opaco */
  color: black;
}

.accordion span {
  font-size: 1.2rem;
}

/* Oculta la barra y flecha en pantallas peque침as */
@media (max-width: 650px) {
  .vertical-bar-arrow {
    display: none !important;
  }
}