/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/home.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
/* Puedes ajustar los colores y el grosor */
.gradient-border {
  border-width: 2px !important;
  border-style: solid !important;
  border-image: linear-gradient(90deg, #007cf0, #00dfd8) 1;
  /* Para bordes redondeados */
  border-radius: 1rem;
}
